/* Basic Style */
html {
  list-style: none;
  outline: none;
  box-sizing: border-box;
  font-family: Lato, sans-serif;
}

body {
  background-color: #f8f8f8;
  color: #333333;
  font-family: Lato, sans-serif;
}

.matrix {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.matrix__img {
  width: 100%;
}

.matrix__info {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {

  .matrix {
    text-align: center;
  }

}

.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.new-task__row {
  display: flex;
}

/* Input and label*/
.task {
  width: 56%;
  display: inline-block;
  flex-grow: 1
}

.main__ul {
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
  color: #888888;
  font-size: 15px;
  width: 60px;
  cursor: pointer;
}

button:hover {
  color: #3a3a3a;
}

/* Headings */
.main__header,
.new-task__label {
  color: #333333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

/* General for inputs */
.input_text {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  padding: 0 9px;
  border: 1px solid #dDd;
  background: #FFF;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888888;
}

.input_text:focus {
  color: #333333;
}

.new-task__label {
  display: block;
  margin: 0 0 20px;
}

.new-task__input {
  width: 318px;
}

/* Task list */
li {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eeeeee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox {
  margin: 0 10px;
}

.li__label {
  padding-left: 10px;
  font-size: 18px;
  width: 226px;
}

.input-text {
  width: 226px;
}

.delete-btn__img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.delete-btn__img:hover {
  transform: rotateZ(0);
}

/* Completed */
.completed-tasks label {
  text-decoration: line-through;
  color: #888888;
}

/* Edit mode */
.li__input_text {
  display: none;
}

.edit-mode input {
  display: inline-block;
}

.edit-mode label {
  display: none;
}

/* TODO */
